/* Google-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Utilities */
body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 87px 120px;
}

/* Header Start */
.influencer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    margin-left: 112px;
    font-size: 24px;
    font-weight: 700;
}

.nav-items ul {
    display: flex;
    list-style: none;
}

.nav-items ul a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

/* Header End */


/* Main Item Info Start */
.main-item {
    display: flex;
    margin-top: 20px;
}

.main-item img {
    width: 50%;
}

.main-info h1 {
    font-size: 48px;
}

.main-info p {
    margin-bottom: 16px;
}

.link-button {
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}

.link-button i {
    margin-left: 10px;
}

.link-button:hover {
    background-color: gray;
    color: lightskyblue;
    transition: .7s;
}

hr {
    border: 1px solid #D1D1D1;
}

/* Main Item Info End */

/* Company Logo Section Start */
.company-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* Company Logo Section End */

/* Popular Collection Item Start */

.container h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 30px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #cfc6cb;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.item {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgb(170, 167, 167);
}

.see-more-btn {
    display: block;
    right: 0;
    text-decoration: none;
    text-align: right;
    font-size: 25px;
    color: #E02C6D;
    margin-top: 25px;
}

.see-more-btn i {
    margin-left: 10px;
}

/* Popular Collection Item End */

/* Offer Section Start */

.offer-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(167, 158, 144), rgb(88, 59, 53));
    margin-top: 30px 10px;
}

.offer-details img {
    width: 400px;
    height: 300px;
}

.offer-time h2 {
    margin-top: 50px;
}

.offer-time p {
    color: rgb(255, 2, 2);
    display: inline;
    background-color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 15px;
    border-radius: 40%;
}

/* Offer Section Start */

footer {
    background-color: rgb(2, 2, 36);
    text-align: center;
    color: white;
    padding: 20px;
}

footer a {
    color: white;
    margin-right: 10px;
    padding: 5px;
    background-color: rgb(61, 59, 59);
    border-radius: 50px;
}

/* Footer End */

/* Media Queries */

/* Mobile Device */

@media only screen and (max-width: 688px) {
    .influencer-gears {
        width: 100%;
    }

    .influencer-info {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }

    .nav-items ul {
        flex-direction: column;
        font-size: 50px;
    }

    .main-item {
        flex-direction: column;
    }

    .main-info h1 {
        font-size: 30px;
    }

    .link-button {
        font-size: 10px;
    }

    .main-item img {
        width: 100%;
        margin-top: 20px;
    }

    .logo {
        width: 100%;
    }

    .company-logo {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .items {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        flex-wrap: nowrap;
    }

    .item {
        flex-direction: column;
    }

    .offer-info {
        width: 100%;
        flex-direction: column;
    }

    .offer-details {
        display: flex;
        flex-direction: column;
    }

    .offer-time p {
        display: block;
        text-align: center;
    }

    .offer-details img {
        width: 100%;
    }



    footer {
        font-size: 40%;
        width: 100%;
        flex-wrap: nowrap;
    }

}

/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .influencer-gears {
        width: 100%;
    }

    .influencer-info {
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-item {
        width: 100%;
    }

    .main-info {
        flex-direction: column;

    }

    .main-info h1 {
        font-size: 30px;
    }

    .link-button {
        font-size: 10px;
    }

    .main-item img {
        width: 100%;
        margin-top: 20px;
    }

    .container {
        width: 100%;
    }

    .items {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        flex-wrap: nowrap;

    }

    .item {
        flex-direction: column;
    }

    .offer-details {
        display: flex;
        flex-direction: column;
    }

    .offer-time p {
        text-align: center;
    }

    .offer-details img {
        width: 100%;
    }

    footer {
        font-size: 40%;
        width: 100%;
        flex-wrap: nowrap;
    }



}