/* Google-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Utilities */

body {
    margin: 87px 120px;
    font-family: 'Poppins', sans-serif;
}

/* Header Start */
.influencer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
}

.nav-items ul {
    display: flex;
    list-style: none;
}

.nav-items ul a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 16px;
}

/* Header End */

/* Main Item Info Start */
.main-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info h1 {
    font-size: 52px;
}

.main-info p {
    margin-bottom: 16px;
}

.link-button {
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}

.link-button i {
    margin-left: 10px;
}

.link-button:hover {
    background-color: gray;
    color: lightskyblue;
    transition: .7s;
}

hr {
    border: 1px solid #D1D1D1;
}

/* Main Item Info End */
/* Company Logo Section Start */
.company-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* Company Logo Section End */
/* Popular Collection Item Start */
.container h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 30px;
}

.container h4 {
    font-size: 24px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #cfc6cb;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.item {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgb(170, 167, 167);
}

.see-more-btn {
    display: block;
    right: 0;
    text-decoration: none;
    text-align: right;
    font-size: 16px;
    color: #E02C6D;
    margin-top: 25px;
}

.see-more-btn i {
    margin-left: 10px;
}

/* Popular Collection Item End */